/* Color pallete https://colorhunt.co/palette/4a55a27895cba0bfe0c5dff8 */
.main-background {
    background-color: #C5DFF8;
    color: #5380d3;
}

.section-background {
    background-color: white;
    color: #5380d3;
}

.title-text {
    color: #4A55A2;
}